.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3em;
  margin: 0;
}

p {
  font-size: 1.2em;
  opacity: 0.8;
}
